@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 0;
  color: #35495a;
  box-sizing: border-box;
}

.container {
  width: 1000px;
}

.price-items {
  display: flex;
  align-items: center;
  margin: 10px;
}

.price-item {
  text-align: center;
  width: 330px;
  height: 520px;
  background-color: #ee8129;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.price-item--title {
  padding: 45px 0 40px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.price-item-content {
  margin: 0 5px 5px 5px;
  height: 430px;
  background-color: white;
}

.content--title {
  padding: 35px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}

.content--price {
  padding: 18px 0 42px;
  font-size: 80px;
  font-weight: 700;
}
.content--price span:first-of-type {
  font-size: 25px;
  vertical-align: 1.6em;
}

.content--price span:last-of-type {
  font-size: 20px;
  vertical-align: -0.5em;
}

.content-list {
  margin: 0 16px 16px;
}

li {
  margin: 1px;
  padding: 0 0 0 68px;
  color: #92969e;
  text-align: left;
  list-style: none;
  line-height: 2.35em;
  position: relative;
}

li:nth-child(odd) {
  background-color: #edf5fd;
}

li:nth-child(even) {
  background-color: #f5f5f6;
}

li::before {
  content: "";
  background: url(check.png) left no-repeat;
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  top: 0.5em;
  left: 2em;
  position: absolute;
}

.btn {
  border-radius: 5px;
  background: #ee8129;
  border: none;
  color: #fff;
  width: 280px;
  padding: 20px 0;
  margin: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: 0.1s;
  transform-style: preserve-3d;
}

.btn::after {
  content: "";
  position: absolute;
  background-color: #b3560b;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.1s;
  transform: translate3d(0, 4px, -1px);
}

.btn:active {
  transform: translate(0, 4px);
}

.btn:active::after {
  transform: translate3d(0, 0, -1px);
}

/* =====HOMEWORK-4=========================== */

.common-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
  padding: 40px 0 60px;
}

.small {
  padding: 35px 0 30px;
}

.price-item:first-child {
  background-color: #2bc2d4;
  height: 480px;
}

.price-item:last-child {
  background-color: #00b89a;
  height: 480px;
}

.blue-btn {
  background-color: #2f70a8;
}

.blue-btn::after {
  background-color: #1a4d7a;
}

.thin {
  margin: 0;
  height: 416px;
  border-radius: 0 0 5px 5px;
}
